@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Outfit:wght@300;400;500;600&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#F7F1E8;
    color:#492215;
    font-family:'Outfit', sans-serif;
}

h1,h2,h3{
    font-family:'Cormorant Garamond', serif;
}

h1{
    line-height:0.9;
}

.surname{ 
    margin-left: 1.5rem;
}

.bg-circle{
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background: #D4CDBF;
    opacity: 0.18;
    position: absolute;
    left: -150px;
    top: 400px;
    z-index: 0;
    pointer-events: none;
}

.bg-title{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 8rem;
    letter-spacing: 3.5rem;
    opacity: 0.45;
    color: #d4c7b8;
    font-weight: 600;
    z-index: 1;
    filter: blur(2px);
    overflow: hidden;       
    white-space: normal;    
    pointer-events: none;   
}




#hero {
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    padding-left: 6%;
}

.hero-box {
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 78vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 4rem;

}

.hero-left {
    position: relative;
    z-index: 3;
    margin-top: 0;
}

.hero-tag {
    font-size: 0.78rem;
    letter-spacing: 5px;
    color: #9C6342;
    margin-bottom: 3rem;
    position: static;
    left: 6%;
    top: 500px;
    text-transform: uppercase;

}

.hero-left h1 {
    position: static;    /* remove the absolute */
    transform: none;
    font-size: 5.5rem;
    left: unset;
    top: unset;
    text-align: left;
    width: auto;
    font-family: 'Birthstone', cursive;
    margin-top: 10rem;
    letter-spacing: 1rem;

}

.hero-line {
    width: 1px;
    height: 260px;
    background: #C6A181;
    position: static;
    margin: 0.5rem 0 1.5rem 0;
    opacity: 1;
    left: 10px;
    top: unset;
    font-size: clamp(2.5rem, 3.5vw, 4rem);
    white-space: nowrap;
    display: none;
}

.hero-left h1 span {
      margin-left:6rem;
}

.hero-subtext {
    max-width: 380px;
    font-size: 0.92rem;
    line-height: 1.8;
    color: #7f6b63;
    margin-bottom: 2.5rem;
    position: static;
    left: 6%;
    top: 555px;

}



.mini-text {
    font-size: 0.8rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    color:#9C6342;
    margin-bottom: 1rem;
}

#hero h1 {
    font-size: 5rem;
    line-height: 0.9;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 1.5rem;

}

#hero h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color:#9C6342;
    margin-bottom: 1.5rem;
}

.hero-description {
    font-size: 1rem;
    line-height: 1.8;
    max-width: 500px;
    margin-bottom: 2rem;
}

.hero-image img {
    width: 470px;
    height: 560px;
    object-fit: cover;
    object-position: center top;
    border-radius: 24px;
    border: none;

}

.hero-buttons{
    display: flex;
    gap: 18px;
    top:120px;
    padding-left: 0.5rem;
    position: static;
    left: 6%;
    right: 7%;



}

.hero-line{
    width:1px;
    height:260px;
    background: #cbb6aa;
    opacity:0.7;
    left: 4.8%;
    position: absolute;
    top: 365px;
}

.primary-btn {
    background: #5A2416;
    color: #F7F1E8;
    padding: 14px 32px;
    border-radius: 50px;
    font-size: 0.85rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: 0.3s ease;
    text-decoration: none;
}

.primary-btn:hover {
    background: #7a3320;
}

.secondary-btn {
    border: 1px solid #5A2416;
    color: #5A2416;
    padding: 14px 32px;
    border-radius: 50px;
    font-size: 0.85rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: 0.3s ease;
    text-decoration: none;
}

.secondary-btn:hover {
    background: #5A2416;
    color: #F7F1E8;
}

.hero-right{
    position:absolute;
    right:8%;
    top:200px;
    z-index:2;
}

.hero-content {
    padding-top: 60px;
}

.hero-year{
    position:absolute;
    right:0;
    top:-45px;
    letter-spacing:5px;
    font-size:0.78rem;
    color:#9C6342;
}

header{
  background:#492215;
  padding:1rem 6%;
}

nav{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.logo{
    width:100px;
    height:60px;
    border:1px solid #c6a181;
    border-radius:999px;
    background:#f7f1e8;
    display:flex;
    align-items:center;
    justify-content:center;
}

.logo img{
    width:55px;
    height:55px;
    object-fit:contain;
}
nav ul{
  display:flex;
  align-items:center;
  gap:2.5rem;
  list-style:none;
}

nav a{
  color:#F7F1E8;
  text-decoration:none;
  font-size:0.95rem;
}

nav ul li a{
    color:#F7F1E8 !important;
    text-decoration:none;
    font-size:0.95rem;
}

nav ul li{
    letter-spacing:1px;
    font-size:0.9rem;
    text-transform:uppercase;
}

nav ul li:hover {
    opacity: 0.7;
    transition: 0.3s ease;
}

.image-frame {
     width:420px;
    height:560px;
    border:1px solid #C6A181;
    padding:14px;
    background:#F7F1E8;
    position:relative;
    border-radius:220px 220px 0 0;
    
}


.image-frame img {
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center top;
    border-radius:200px 200px 0 0;
    display:block;
}

/* FLOATING SHAPE */

.image-frame::before{
    content:"";
    position:absolute;
    width:170px;
    height:170px;
    background:#D4CDBF;
    border-radius:50%;
    left:-70px;
    bottom:-55px;
    z-index:-1;
    opacity:0.45;
}

.image-frame::after{
    content:"";
    position:absolute;
    inset:-14px;
    border:1px solid #C6A181;
    border-radius:240px 240px 0 0;
    z-index:-1;
}

.about-section {
    padding: 7rem 6%;
    background: #F7F1E8;
    position: relative;
    padding-top: 12rem;
}

.about-label {
    font-size: 0.75rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9C6342;
    margin-bottom: 1rem;
}

.about-wrapper {
    display: grid;
    grid-template-columns: 0.9fr 1fr 0.9fr;
    gap: 3.5rem;
    align-items: center;
}

.about-images {
    position: relative;
    height: 520px;
}

.about-main-img {
    width: 280px;
    height: 390px;
    object-fit: cover;
    border-radius: 160px 160px 0 0;
    border: 1px solid #C6A181;
    padding: 10px;
    background: #F7F1E8;
    position: absolute;
    right: 0;
    top: 0;
}

.about-small-img {
    width: 190px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid #C6A181;
    padding: 8px;
    background: #F7F1E8;
    position: absolute;
    left: 0;
    bottom: 20px;
}

.about-left h2 {
    font-size: 4rem;
    line-height: 1;
    color:#492215;
    max-width: 520px;
    font-family: 'Bodoni Moda', serif;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 0.92;
    padding-left: 30px;
}

.about-left h2 span {
    color: #9C6342;
    font-style: italic;
}

.about-right {
    max-width: 620px;
    padding-top: 1.5rem;
}

.about-right p {
    font-size: 1rem;
    line-height: 1.9;
    color: #6f554b;
    margin-bottom: 1.5rem;
}

.about-link {
    display: inline-block;
    margin-top: 1rem;
    color: #5A2416;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.78rem;
    border-bottom: 1px solid #5A2416;
    padding-bottom: 5px;
}
.scroll-hint {
    font-size: 0.72rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #9C6342;
    margin-top: 2rem;
    opacity: 0.7;
}

.skills-section {
    padding: 8rem 6%;
    background: #F7F1E8;
    position: relative;
    overflow: hidden;
}

.skills-bg {
    position: absolute;
    top: 70px;
    right: 80px;
    font-family: 'Bodoni Moda', serif;
    font-size: 9rem;
    font-weight: 500;
    letter-spacing: 1rem;
    color: #D4CDBF;
    opacity: 0.18;
    pointer-events: none;
    z-index: 0;
}

.section-label,
.skills-section > h2:not(.skills-bg),
.skills-divider,
.skills-grid{
    position:relative;
    z-index:2;
}

.section-label {
    font-size: 0.75rem;
    letter-spacing: 5px;
    color:#492215;
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
}

.skills-section h2 {
    font-size: 2rem;
    line-height: 0.95;
    max-width: 760px;
    margin: 1.5rem 0 4rem;
    color:#492215;
    font-weight: 500;
    font-family:'Bodoni Moda', serif;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 3rem;
}

.skills-card {
    background: #F2EBE1;
    padding: 2.5rem;
    min-height: 280px;
    border-radius: 30px;
    transition: 0.3s ease;
}

.skills-card:hover {
    transform: translateY(-8px);
    background: #EFE4D7;
}

.skills-card span {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 3px;
    color: #D5692D;
}

.skill-card h3{
    font-family:'Cormorant Garamond', serif;
    font-size:2.4rem;
    font-weight:600;
    margin:2rem 0 1rem;
    color:#492215;
}

.skill-card p{
    font-family:'Outfit', sans-serif;
    line-height:1.8;
    color:#6f554b;
    font-size:0.95rem;
}

.skills-divider {
    width: 100%;
    height: 1px;
    background: #C6A181;
    opacity: 0.6;
    margin: 3rem 0 4rem;
}

.skill-card small {
    display: block;
    margin-top: 2rem;
    font-family: 'Outfit', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#D5692D;
}

/* Project section */

.projects-section{
    padding:8rem 6%;
    position:relative;
    overflow:hidden;
}

.projects-bg{
    position:absolute;
    right: 2%;
    top:40px;
    font-family:'Bodoni Moda', serif;
    font-size:10rem;
    letter-spacing:1rem;
    color:#D4CDBF;
    opacity:0.18;
    pointer-events:none;
}

.projects-heading{
    font-family:'Bodoni Moda', serif;
    font-size:3.5rem;
    line-height:0.95;
    max-width:850px;
    margin:1rem 0 3rem;
    color:#492215;
}

.projects-divider{
    width:100%;
    height:1px;
    background:#C6A181;
    opacity:0.6;
    margin-bottom:5rem;
}

.project-row{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:5rem;
    align-items:center;
    margin-bottom:8rem;
}

.project-row.reverse{
    direction:rtl;
}

.project-row.reverse .project-content{
    direction:ltr;
}

.project-image img{
    width:100%;
    border-radius:24px;
    display:block;
    max-width: 550px;
    height: 380px;
    object-fit: cover;
}

.project-image.placeholder{
    height:420px;
    border:1px dashed #C6A181;
    border-radius:24px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#9C6342;
    font-family:'Outfit', sans-serif;
}

.project-number{
    color:#D5692D;
    letter-spacing:4px;
    font-size:1rem;
    font-weight: 600;
}

.project-content h3{
    font-family:'Cormorant Garamond', serif;
    font-size:3.5rem;
    margin:1rem 0;
    color: #492215;
}

.project-category{
    color:#9C6342;
    text-transform:uppercase;
    letter-spacing:2px;
    font-size:0.8rem;
    margin-bottom:1.5rem;
}

.project-content p{
    line-height:1.8;
    color:#6f554b;
    max-width: 500px;
    font-size: 1rem;

}

.project-link{
    display:inline-block;
    margin-top:2rem;
    text-decoration:none;
    color:#492215;
    border-bottom:1px solid #492215;
    padding-bottom:4px;
}

/* Contact Section*/

.contact-section{
    padding:6rem 6%;
    background:#492215;
    color:#F7F1E8;
    position:relative;
    overflow:hidden;
}

.contact-bg{
    position:absolute;
    top:40px;
    right:3%;
    font-family:'Bodoni Moda', serif;
    font-size:7rem;
    letter-spacing:0.7rem;
    color:#F7F1E8;
    opacity:0.04;
    pointer-events:none;
}

.contact-label{
    font-family:'Outfit', sans-serif;
    font-size:0.75rem;
    letter-spacing:5px;
    color:#C6A181;
}

.contact-heading{
    font-family:'Bodoni Moda', serif;
    font-size:4rem;
    line-height:0.95;
    font-weight:500;
    max-width:800px;
    margin:1.5rem 0;
}

.contact-text{
    max-width:560px;
    line-height:1.9;
    color:#d8c6bb;
}

.contact-links{
    display:flex;
    gap:1rem;
    margin-top:3.5rem;
    flex-wrap:wrap;
}

.contact-links a{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:1rem 2rem;
    border:1px solid #C6A181;
    border-radius:50px;
    text-decoration:none;
    color:#F7F1E8;
    font-family:'Outfit', sans-serif;
    font-size:0.8rem;
    letter-spacing:2px;
    text-transform:uppercase;
    transition:0.3s ease;
}

.contact-links a:hover {
    background:#F7F1E8;
    color:#492215;
    transform:translateY(-3px);
}

.contact-links a:first-child{
    background:#c6a181;
    color:#492215;
    border:none;
}

.contact-links a:first-child:hover{
    background:#cbb6aa;
    color: #9C6342;
}

.footer{
    background:#492215;
    padding:0 6% 2rem;
}

.footer-line{
    height:1px;
    background:rgba(198,161,129,0.3);
    margin-bottom:2rem;
}

.footer-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-left{
    font-family:'Birthstone', cursive;
    font-size:1.2rem;
    color:#F7F1E8;
    letter-spacing: 0.4rem;
}

.footer-right{
    font-size:0.75rem;
    letter-spacing:2px;
    text-transform:uppercase;
    color:#C6A181;
}

/* =========================
   MOBILE RESPONSIVE
========================= */

@media (max-width: 768px){

  body{
    overflow-x:hidden;
  }

  header{
    padding:1rem 5%;
  }

  nav{
    flex-direction:column;
    gap:1rem;
  }

  nav ul{
    flex-wrap:wrap;
    justify-content:center;
    gap:1rem;
  }

  nav ul li a{
    font-size:0.75rem;
  }

  .bg-title,
  .skills-bg,
  .projects-bg,
  .contact-bg{
    font-size:3.5rem;
    letter-spacing:0.3rem;
    opacity:0.08;
    right:0;
  }

  #hero{
    padding:2rem 5% 5rem;
    min-height:auto;
  }

  .hero-box{
    display:flex;
    flex-direction:column;
    gap:3rem;
  }

  .hero-left h1{
    font-size:4rem;
    margin-top:3rem;
    letter-spacing:0.4rem;
  }

  .hero-tag{
    font-size:0.65rem;
    letter-spacing:3px;
  }

  .hero-subtext{
    max-width:100%;
  }

  .hero-buttons{
    flex-direction:column;
    width:100%;
    padding-left:0;
  }

  .hero-buttons a{
    text-align:center;
  }

  .hero-right{
    position:static;
    width:100%;
    display:flex;
    justify-content:center;
  }

  .image-frame{
    width:300px;
    height:420px;
  }

  .about-section,
  .skills-section,
  .projects-section,
  .contact-section{
    padding:5rem 5%;
  }

  .about-wrapper,
  .skills-grid,
  .project-row,
  .project-row.reverse{
    grid-template-columns:1fr;
    direction:ltr;
  }

  .about-left h2,
  .skills-section h2,
  .projects-heading,
  .contact-heading{
    font-size:2.6rem;
  }

  .about-images{
    height:auto;
  }

  .about-main,
  .about-secondary{
    position:static;
    width:100%;
    margin-bottom:1rem;
  }

  .project-image img,
  .project-image.placeholder{
    height:260px;
  }

  .contact-links{
    flex-direction:column;
    align-items:flex-start;
  }

  .footer-content{
    flex-direction:column;
    gap:1rem;
    text-align:center;
  }
}